@import "../public/yandex-sans-text-bold/style.css";
@import "../public/yandex-sans-text-regular/style.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    @apply bg-black text-white;
}

@layer components {
    .yandex-h2 {
        @apply block font-bold m-0;
        font-family: 'Yandex Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    .yandex-text {
        @apply block font-normal m-0;
        font-family: 'Yandex Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .yandex-button {
        @apply block font-bold m-0 bg-yandex p-10 rounded-full text-center;
        font-family: 'Yandex Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .sw-font {
        @apply block font-normal m-0;
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}